@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=Lakki+Reddy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Títulos: font-family: "IM Fell DW Pica", serif; */
/* Textos: font-family: "Poppins", sans-serif; */
/* Títulos Especificos: font-family: "Lakki Reddy", serif; */

/* Botão de Formulário*/
.send-button {
    width: 160px;
    height: 47px;
    background-color: #341B66;
    color: #F0F0F0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    border: black solid 2px;
    box-shadow: 1px 1px 3px #0e0324;
    margin:auto;
}

/* Formulários*/
.form {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #0e0324;
    margin: 15px;
    padding: 10px;

}

.form input {
    border-color: #341B66;
    border-radius: 5px;
    width: 300px;
    height: 25px;
    color: rgba(0, 0, 0, 0.364);
}

/* Cards */